.quote-table-label{
    display:flex;
    flex-direction:row;
    border-bottom:2px solid gray;
    font-weight:bold;
    font-size:0.8vw;
}

.column{
    display:flex;
    width:7vw;
    align-items: center;
    justify-content: center;
}

.quote-table-container{
    width:50%;
    border-radius:10px;
    border: 2px solid rgba(200,200,200,0.7);
    height:90vh;
    overflow:scroll;
    
}

.quote-table-row{
    display:flex; 
    padding:2px;
    border-bottom:2px solid gray;
    z-index:0;
    font-size:12px;
    overflow:hidden;
}

.row-value{
    width:7vw;
    height:5vh;
    display:flex;
    align-items: center;
    justify-content: center;
    border-right:2px solid gray;
}

.add-button{
    display:flex;
    width:2vw;
    height:3vh;
    justify-content: center;
    align-items:center;
    border: 2px solid rgba(255,255,255,0.9);
    margin:5px;
    margin-top:10px;
    border-radius:4px;
    font-weight:bold;
    font-size:24px;
    cursor:pointer;
}

.add-button:hover{
    background-color: black;
}

.help-button{
    display:flex;
    width:3vw;
    height:5vh;
    justify-content: center;
    align-items:center;
    font-size:20px;
    cursor:pointer;
}

.help-button:hover{
    opacity:0.7;
}