.quote-submission-container{
    display:flex;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    flex-direction:column;
    background-color: #222222;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.5);
    padding:10px;
    align-items: center;
    width:50%;
}

.background-filter{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.3);
    z-index:4;
}

.quote-exit{
    background-color:black;
    font-size:30px;
    font-weight:bold;
    padding:10px;
    border-radius:10px;
    border: 2px solid rgba(255,255,255,0.5);
    cursor:pointer;
    margin-right:10px;
}

.quote-submission-title{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}

.quote-submission-container h1{
    font-size:36px;
}

.quote-submission-container form{
    display:flex;
    flex-direction: column;
}

.quote-submission-container input{
    margin:15px;
    width:30vw;
    height:5vh;
    border-radius:20px;
    border: 2px solid rgba(255,255,255,0.5);
    color:white;
    cursor:pointer;
}



input[type=text] {
    padding: 10px;
    box-sizing: border-box;
  }

  .button{
    background-color:rgba(0,0,0,0.9);
    padding-left:10px;
    padding-right:10px;
    border-radius:10px;
    border:2px solid rgba(255,255,255,0.5);;
  }

  .button:hover{
    opacity:0.7;
    cursor:pointer;
}

.roof-info{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.roof-info input{
    width:15vw;
}
  

.location{
    display:flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;
    width:15vw;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    
}

